<h1>Selected Film "{{title}}"</h1>

<div class="selected-film">
    <div>
        <img src="{{image}}">
    </div>
    <div class="info-film">
        <a href="/movies">Go back</a>
        <h2>{{title}}</h2>
        <h3>DIrector: {{director}}</h3>
        <p class="stars">Stars</p>
        <ul>
            {{#each stars}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{description}}</p>
        <p>
            {{#each showtimes}}
                {{this}} | 
            {{/each}}
        </p>
    </div>
</div>